.deleteBtn {
  color: #f44336;
}
.deleteBtn:hover {
  color: red;
  cursor: pointer;
}
.clear-btn {
  text-transform: capitalize;
  width: 15rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: #e66b6b;
  color: var(--clr-red-light);
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  letter-spacing: var(--spacing);
  transition: all 0.3s linear;
  transition: var(--transition);
  margin: 1.25rem auto 0;
}
